#footer{
    /* border: 2px solid red; */
    margin: 0 -8px;
    margin-top: 5px;
}

#footer-para{
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: larger;
}
#footer-para div{
    margin: 0 10px;;
}
#footer-para button{
    /* border: 1px solid rgb(210, 4, 4); */
    font-size: 110%;
    border-radius: 20px;
    border: none;
}
#footer_2nd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    font-size: larger;
}
#footer_2nd div:last-child i {
    /* border: 2px solid red; */
    margin: 0 5px;
    
}
#fooder_details{
    padding: 0 10px;
}
#fooder_details p{
    line-height: 10px;
}

#footer_last{
    /* border: 2px solid rgb(19, 43, 224);  */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer_last div:first-child {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(8 110px)
}
#footer_last :first-child div{
    /* border: solid green; */
    /* grid-column-start: 2;
    grid-column-end: 9; */
    grid-row-start: 1;
    grid-row-end: 3;
     margin: 10px 5px;
}
#footer_last img{
    width: 110px;
    margin: 20px 5px;
}

#footer_last div:last-child img{
    /* border: 2px solid yellow; */
    width: 200px;
    /* height: 100px; */
}
#footer2{
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1224px) {
    #footer{
        display: none;
    }
    #footer2{
        display: block;
    }
    #fot_1{
        /* border: 1px solid rgb(0, 26, 255); */
        margin: 10px -10px;
        padding: 20px 0 10px 25px;
        background-color: #2e3451;
        font-size: larger;
        color: white;
    }
    #fot_1 button{
        /* border: 1px solid rgb(210, 4, 4); */
        font-size: 110%;
        border-radius: 20px;
        border: none;
        margin-left: 10px;
    }
    #fot_1 button:hover{
        background-color:#2e3451;
        color: white;
        cursor: pointer;
    }
    #fot_2{
        background-color: #545871;
        color: white;
        margin: -10px;
        padding: 10px;
    }
    #footer2 i{
        width: 50px;
        font-size: xx-large;
        color: white;
      
    }
    #fot_2 p{
        font-size: large;
    }
    #fooder_details2 {
        background-color: #f0f1f7 ;
        margin: -5px -15px;
        padding: 10px 20px;
    }
    #footer_last{
        background-color: #f0f1f7 ;
        margin: -5px -15px;
        padding: 10px 20px;
    }
    #footer_last div:first-child{
        /* border: 2px solid rebeccapurple; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }

    
  }
  



  @media only screen and (min-width:7px) and (max-width: 767px) {
    #footer{
        display: none;
    }
    #footer2{
        display: block;
    }
    #fot_1{
        /* border: 1px solid rgb(0, 26, 255); */
        margin: 10px -10px;
        padding: 20px 0 10px 25px;
        background-color: #2e3451;
        font-size: larger;
        color: white;
    }
    #fot_1 button{
        /* border: 1px solid rgb(210, 4, 4); */
        font-size: 110%;
        border-radius: 20px;
        border: none;
        margin-left: 10px;
    }
    #fot_1 button:hover{
        background-color:#2e3451;
        color: white;
        cursor: pointer;
    }
    #fot_2{
        background-color: #545871;
        color: white;
        margin: -10px;
        padding: 10px;
    }
    #footer2 i{
        width: 50px;
        font-size: xx-large;
        color: white;
      
    }
    #fot_2 p{
        font-size: large;
    }
    #fooder_details2 {
        background-color: #f0f1f7 ;
        margin: -5px -15px;
        padding: 10px 20px;
    }
    #footer_last{
        background-color: #f0f1f7 ;
        margin: -5px -15px;
        padding: 10px 20px;
    }
    #footer_last div:first-child{
        /* border: 2px solid rebeccapurple; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }

  }
  