* {
    /* margin: 0px; */
    /* padding: 0px; */
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    gap: 10px;
    
}

#leftPortion {
    border: 2px solid red;
    width: 15%;
    height: 500px;
    color:#202340 ;

}

#rightPortion {
    /* border: 20px solid red; */
    width: 80%;

}

#vImage {
    width: 15px;
    height: 15px

}



#urlImage {
    margin: auto;
    width: 80%;
}

#divMain1 {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* border: 2px solid purple; */
}
#divMain2 { 
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
    margin-top: 10px;
    gap: 5px;
    width: 90%;
}
#divMain3 { 
    display: flex;
    flex-direction: row;
    /* border: 2px solid purple; */
    margin-top: 10px;
    gap: 5px;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
#divMain3>img{
    width: 30px;
    height: 30px;
    background-color: #f0f1f7;

}
#divMain4{
    background-color: #f0f1f7;
    
}
#divMain4>button{
    background-color: #f0f1f7;
    border:none;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 6px 6px;
    font-size: .875rem;
    color: #202340;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
#divMain4>button:hover{
    background-color: #414467;
    color:white
}
#divMain {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    padding: 3% 1%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#divMain:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#divVendor {
    gap: 2px;
    align-items: center;
    font-size: 12px;
    height: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;  
    /* border: 5px solid red; */
    
}
#divCashback{
    align-items: center;
    height: 20px;
    /* margin-top: -35px; */
    gap: 5px;
    color: #202340;
    opacity: 0.8; 
    font-size: 12px;  
}
#divPrice{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* margin-top: -25px; */
    height: 20px;
    align-items: center;
}
#divbutton{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 5px;
    
}
#sPrice{
    font-size: 20px;
    text-decoration: line-through;
    color:rgba(128, 128, 128, 0.615);
    /* opacity: 1; */
    
}
#fPrice{
    font-size: 20px;
    color: #202340;
}
#shipping{
    /* margin-top: -15px; */
    color: #007E97;
    font-size: 12px;
    height: 20px;
    
}
#seedetail{
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    min-height: 40px;
    padding: 4% 5%;
    text-align: center; 
    background-color: white;
    
}
#seedetail:hover{
    background-color: #414467;
    color: white;
}
#addtocart{
    background-color: #414467;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50px;
    /* min-height: 40px; */
    padding: 4% 5%;
    text-align: center; 
    border:none;
}




#productPage-body>p:first-child{
    margin: 0.8%;
}

#productPage-body>div:nth-child(3){
    /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

#sortBestMatch{
    display: flex;
}

#SortBy:active{
    border: none;
}


#productPage-body>div:nth-child(3) select{
    font-size: 125%;
    font-weight: 600;
    /* border: red; */
    border: none;
}

#leftPortion{
    width: 18%;
    height: 200%;
    margin: -0.5% 0 0 0;
    /* border: 2px solid red; */
    border: none;
}

/* #leftPortion>div:first-child input{
   width: 705%;
   height: 705%;
   /* border: 2px solid red; */
   
/* } */ 

.checkboxs{
    width: 40px;
    height: 40px;
    /* border: 2px solid red; */
}

#leftPortion>div:first-child {
display: flex;
justify-content: space-between;
/* border: 2px solid red; */
height: 100%;
width: 100%;
align-items: center;
margin: 0 0 0 15%;
}

#checkbox1{
    border: 2px solid blue;
    display: block;
    font-size: 200px;
}
#leftPortion>div:first-child label{
    font-size: 110%;
    margin:  0 0 0 -0%;
    /* border: 2px solid red; */
}

#leftPortion>div:nth-child(3) {
    width: 100%;
   /* height: 100%; */
   /* border: 2px solid red; */
   margin: -2% 0 -3% 0;
}

#leftPortion>div:nth-child(3)>div{
    /* border: 2px solid red; */
    display: flex;
    font-size: 110%;
    align-items: center;
    margin: 0 0 0 15%;
    justify-content: left;
}

#leftPortion>div:nth-child(3) input{
   
    width: 28px;
    /* border: 2px solid red; */
    margin: 0 0% 0 0;
}

#oneCart-img>img{
    width: 7%;
}

#leftPortion>div:nth-child(5){
    margin: -2% 0 0 0;
    text-align: center;
    /* border: 2px solid red; */
    height: 10%;
}



#mensShoesType{
    text-align: left;
    /* border: 2px solid red;  */
    width: 60%;
    margin: auto;
    font-weight: 400;
    font-size: 105%;
}
#mensShoesType p{
    margin-top: -1%;
}


.mensShoesType{
/* display: none; */
/* border: 2px solid red; */
width: 60%;
text-align: left;
margin: auto;

}

.mensShoesType p{
    margin: 4%;
}

.MaterialType{
    width: 100%;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    font-weight: 400;
}

#minmax{
    display: flex;
    /* border: 2px solid red; */
    height: 30%;
    width: 80%;
    justify-content: center;
    gap: 3%;
    margin-bottom: 8%;
}

#minmax>input{
    width: 30%;
    height: 50%;
    font-size: 110%;
    padding: 5%;
}

#minmax>button{
    padding: 5%;
    width: 20%;
    border-radius: 30px;
    font-size: 110%;
    background-color: white;
}

#feedback{
     /* border: 2px solid red; */
     font-size: 105%;
     width: 80%;
     margin: auto;
     padding: 1% 2%;
     background-color: #f0f1f7 ;
}

#feedback textarea{
    /* border: 2px solid red; */
    margin: 0 0 0 9%;
    width: 80%;
    font-size: 110%;
    
}

#feedback button{
    font-size: 130%;
    padding: 5%;
    border-radius: 30px;
    margin: 9% 0 0 13%;
}

#filterbtn{
    display: none;
    margin: 0 8% 0 0;
}

#filterbtn button{
    font-size: 150%;
    padding: 10% 30%;
    border-radius: 50px;
    background-color: white;
    color: #202340;
    border: 1px solid #202340;
}

#filterbtn button:hover{
    color: white;
    background-color:  #202340;
}

@media only screen and (min-width: 768px) and (max-width:1224px){
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    #leftPortion{
        display: none;
    }

    #rightPortion {
        width: 100%;
    }

    #filterbtn{
        display: block;
    }
}



@media only screen and (min-width: 7px) and (max-width:767px){
    #container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }

    #leftPortion{
        display: none;
    }
    #rightPortion {
        width: 100%;
    }
    #filterbtn{
        display: block;
    }
}



