#snavbar{
    /* border: 2px solid red; */
    /* position:sticky; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f1f7;
    margin: -10px -10px 0 -10px;
    padding: 10px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position:fixed;
    width: 100%;
    margin-bottom: 100px; */
}
#snavbar img{
    /* border: 1px solid green; */
    width: 250px;
}
#snavbar a{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'poppins', sans-serif;
    margin-right: 20px;
}
#shipping_yourcart{
    display: flex;
    justify-content: space-between;
    margin: -10px 30px 30px 10px;
}
#total_shipping{
    font-size: 25px;
}
#shipping_loca{
    /* border: 2px solid green; */
    margin: 20px;
    /* padding: 20px; */
}
#shipping_loca img{
    margin: 0;
    width: 350px;
}
#containerCarT{
    /* border: 1px solid red; */
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0 30px;
}
h1,h2,h3,h6,p{
    color: #202340;
}
#detatil_part_cart h6{
    font-size: 30px;
    margin: 0;
    letter-spacing: -1px;
    color: #363b67;
}
#YourCart{
    /* border: 2px solid black; */
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -2px;
    font-family: 'Poppins', sans-serif;
}
#left_container_cart{
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
}
#pro_appender{
    /* border: 1px solid black; */
}
#Product_{
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    margin-top: 20px;
}

#Product_ div:nth-child(1){
    /* border: 2px solid red; */
    width: 20%;
}
#Product_ div:nth-child(1) img{
    /* border: 1px solid black; */
    width: 150px;
    margin: auto;
}

#Product_ div:nth-child(2){
    /* border: 2px solid rgb(255, 0, 225); */
    width: 48%;
    padding: 0 5px;
}
.mid_p{
    width: 15px;
    top: 20px;
}
#Product_ div:nth-child(2) h1{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
#Product_ div:nth-child(2) h2{
    margin: -10px 0;
    margin-bottom: 5px;
}
#Product_ div:nth-child(2) p{
    margin: -2px 0;
}

#Product_ div:nth-child(3){
    /* border: 2px solid rgb(129, 201, 6); */
    width: 0%;
    padding: 23px 2px;
}
#Product_ div:nth-child(2) button{
    border: 1px solid #202340;
    color:#202340;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}
#Product_ div:nth-child(2) button:hover{
    color:white;
    background-color: #202340;
    cursor: pointer;
}
#Product_ div:nth-child(4){
    /* border: 2px solid rgb(11, 139, 213); */
    width: 20%;
    padding: 23px 0 0 0;
}
#Product_ div:nth-child(4) button{
    border: 1px solid #202340;;
    color:#202340;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
}
#Product_ div:nth-child(4) button:hover{
    color:white;
    background-color: #202340;
    cursor: pointer;
}

#Product_ div:nth-child(5){
    border: 2px solid rgb(8, 0, 255);
    width: 10%;
}



#total_section{
    /* border: 1px solid black; */
    margin-left: 20px;
    width: 45%;
    padding: 0 30px;
    /* background-color: #f0f1f7; */
    /* height: 800px; */
}

#user_details_{
    background-color: #f0f1f7;
    /* border:1px solid #363b67; */
    padding: 10px;
    border-radius: 5px;
}
#user_details_ p{
    margin: 4px 0;
}

.flex-do{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
}
.flex-do button{
    border: 1px solid #202340;
    color:white;
    background-color:  #3a4070;
    font-size: 18px;
    border-radius: 40px;
    font-weight: bold;
    padding: 15px 55px;
    margin: 10px;
}

.flex-do button:hover{
    color:white;
    background-color: #202340;
    cursor: pointer;
}

#hr_wod{
    color: green;
    border: 2px solid green;
    
}

#to_price{
    font-size: larger;
}
#last_t{
    background-color: #f0f1f7;
    padding: 10px;
}
#last_t :nth-child(1){
    /* border: 1px solid red; */
    margin-bottom: -15px;
}

#last_t :nth-child(3){
    /* border: 1px solid red; */
    margin-top: -20px;
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
    .shipping_loca{
        display: none;
    }

    #left_container_cart{
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

}
}