#formMainPage{
    /* border: 2px solid red; */
    margin: 19% 0  10% 0;
    color: #202340 ;
}

#signInform{
    display: flex;
    /* border: 2px solid pink; */
    gap: 6%;
    font-size: 120%;
    margin: 0 0 0 15%;
}

#signInform>div:nth-child(1){
    margin: -7% 0 0 0;
    /* border: 5px solid red; */
    width: 22%;
    
}

#signInform>div:nth-child(1) h1{
    margin: 0 0 3% 0;
}

#signInform>div:nth-child(1) input{
    width: 105%;
    padding: 5%;
    border-radius: 3px;
    font-size: 100%;
}

form + p{
    margin: -1% 0 0 0;
    text-decoration: underline;
}

#signInform>div:nth-child(1) button{
    margin: 7% 0 0 0;
    width: 117%;
    border-radius: 30px;
    padding: 4%;
    font-size: 110%;
    font-weight: 600;
    color: white;
    background-color: #414467;
    border: none;
}
#signInform>div:nth-child(1) button:hover{
    color: #202340;
    background-color:white;
    border: 1px solid #202340;
}


#signInform>div:nth-child(2){
    /* border: 2px solid blue; */
    width: 26%;
    text-align: left;
    margin: -3.8% 0 0 0;
}

#signInform>div:nth-child(2) p{
    
    margin: -5% 0 0 0;
}

#signInform>div:nth-child(2) button{
    
    margin: 4% 0 0 0;
    width: 90%;
    border: 1px solid  #202340;
    border-radius: 30px;
    padding: 4% 1.5%; 
    font-size: 100%;
    font-weight: 600;
    
    
}

button:hover{
    cursor: pointer;
}
#goToCreateAcc:hover{
    color: white;
    background-color:#202340;
}